<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>password</th>
        <th>role.name</th>
        <th>avatar</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s:${accounts}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.username}"></td>
        <td th:text="${s.password}"></td>
        <td th:text="${s.role.name}"></td>
        <td><img th:src="${s.avatar}" width="300" height="350"></td>
        <td><a th:href="@{/accounts/edit (id=${s.id})}" type="button" class="btn btn-warning">Edit</a></td>
        <td><a th:href="@{/accounts/delete/{id} (id=${s.id})}" type="button" class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>